
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 auto;
}

a {
  text-decoration: none;
}

#chat {
  position: sticky;
  left: 100%;
  bottom: 50%;
  background-color: #10BBD5;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  padding-top: 6px;
  z-index: 1;

    &:hover {
      transform: rotate(20deg);
    }
}

.button {
  width: 242px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: #F8FDFE;
  cursor: pointer;
}

.button-purple {
  background-color: #4C394E;

  &:hover {
    background-color: #744978;
  }
}

.button-green {
  background-color: #4D762D;

  &:hover {
    background-color: #6DB236;
  }
}

.hit {
  position: absolute;
  left: 30px;
  top: 32px;
}

.new {
  position: absolute;
  left: 20px;
  top: 32px;
}

.off {
  position: absolute;
  left: 70px;
  top: 32px;
}

