

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 auto;
}

a {
  text-decoration: none;
}

#chat {
  position: sticky;
  left: 100%;
  bottom: 50%;
  background-color: #10BBD5;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  padding-top: 6px;
  z-index: 1;

    &:hover {
      transform: rotate(20deg);
    }
}

